# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
# Serverless directories
.serverless
package.json
package-lock.json
__pycache*
src/__pycache*
test/__pycache*
src/controllers/__pycache*
.idea/
.DS_Store
.vscode